
/*body & general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: LostSignal, sans-serif, Times, serif;
  letter-spacing: 0.2vw;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
  font-size: 3vw;
  min-height: 100vh;
  box-sizing: border-box;
}

/*main*/
main {
  margin-bottom: 2vh;
  padding-top: 2vw;
}

/*nav*/
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1.25vh;
  width: 100%;
  top:0;
  z-index: 2;
}

nav img {
  width: 6vw;
  height: auto;
  max-height: fit-content;
  margin-top: 1vh;
  margin-left: 1.5vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 2vw;
  margin-top: -1vh;
  overflow: hidden;
  background-color: transparent;
}

nav li {
  float: left;
  padding-left: 3vw;
}

nav li a {
  display: block;
  color: white;
  background-color: black;
  font-size: 2vw;
  text-decoration: none;
  text-align: center;

  border-radius: 0.6vw;
  border: 0.4vw solid white;
  padding: 0.6vw;
}

nav li a:hover {
  color: rgb(217, 24, 198);
  border: 0.2vw solid rgb(217, 24, 198);
}

/*header*/

header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

header img{
  width: 45vw;
  height: auto;
}

header h1
{
  font-size: 7vw;
  letter-spacing: 1vw;
  margin-top: -1%;
  color: rgb(217, 24, 198);
}

header p {
  font-size: 1.5vw;
  color: white;
}

/* paws */

main .paws
{
  margin-top: -5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8vw;
}

main .paws div {
  padding-top: 5vw;
  position: relative;
}

main .paw1 img
{
  width: 8vw;
  height: auto;
  max-height: fit-content;
  margin-right: 2vw;
}

main .paw2 img
{
  width: 7vw;
  height: auto;
  max-height: fit-content;
  margin-right: 0vw;
}
main .paw3 img
{
  width: 8.5vw;
  height: auto;
  max-height: fit-content;
  margin-right: 6vw;
}
main .paw4 img
{
  width: 7.5vw;
  height: auto;
  max-height: fit-content;
  margin-right: 2vw;
}

main .paw5 img
{
  width: 8vw;
  height: auto;
  max-height: fit-content;
  margin-right: 10vw;
}

/* info */

.im {
  opacity: 0;
  transform: rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.im.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

main #info{
  margin-right: 4vw;
  margin-left: 4vw;
  text-align: justify;
}

main #info h3{
  padding-bottom: 3vw;
  font-size: 3.5vw;
}

main #info p{
  font-size: 2.5vw;
}

/* summary */

main #summary {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2vw;
}

main #summary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 3vw;
  overflow: hidden;
  background-color: transparent;

  width: 85vw;
}

main #summary li {
  float: left;
  padding-left: 1vw;
}

main #summary li .title {
  display: flex;
  color: white;
  background-color: black;
  font-size: 2vw;
  text-decoration: none;
  text-align: center;

  border-radius: 0.6vw;
  border: 0.4vw solid white;
  padding: 0.2vw;

  width: 40vw;
  height: 20vw;

  flex-direction: column;
  justify-content: center;
}

main #summary li:hover .title {
  display: none;
}

main #summary li .text {
  display: none;
}

main #summary li:hover .text{  
  display: flex;
  background-color: black;
  border-radius: 0.6vw;
  border: 0.4vw solid rgb(217, 24, 198);
  padding: 0.2vw;
  width: 40vw;
  height: 20vw;
}

main #summary li:hover .text ul{  
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

main #summary li:hover .text li{  
  display: flex;
  color: white;
  font-size: 2vw;
  justify-content: center;
}

/* topic */

main #topics ul{
  margin-top: 5vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

main #topic li{
  border-radius: 0.6vw;
  border: 0.4vw solid white;
  padding: 0.2vw;
}

main #topics li h2{
  width: 50vw;
  height: 8vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #topics p {
  margin: 4vw;
  font-size: 2.5vw;
  text-align: justify;
}

/* examples */

main #examples ul{
  margin-top: 5vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-left: 5vw;
  padding-right: 5vw;
}

main #examples li{
  position: relative;
}

main #examples li a{
  display: flex;
  justify-content: center;
}

main #examples li img{
  width: 20vw;
  height: 20vw;
  border-radius: 0.6vw;
  border: 0.4vw solid white;
  object-fit: cover;
  filter: brightness(100%);
}

main #examples li:hover img{
  filter: brightness(50%);
}

main #examples li .text {
  display: none;
}

main #examples li:hover .text {
  text-align: center;
  align-items: center;
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  letter-spacing: 0;
}

/* CV */

main #cv li{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #cv a h2{
  color: white;
  text-decoration: underline;
}

main #cv a h2:hover{
  color: rgb(217, 24, 198);
}

main #cv_info {
  margin-top: -3.5vw;
}

main #cv_info h3{
  font-size: 3.2vw;
  margin-bottom: 1vw;
}

main #cv_info ul {
  margin-top: 0;
  margin-bottom: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

main #cv_info li {
  font-size: 2.2vw;
}

/* Footer */

footer{
  margin-bottom: 2vw;
}

footer ul{
  margin-top: 2vw;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer li{
  border-radius: 0.6vw;
  border: 0.4vw solid white;
  background-color: black;
  padding: 0.5vw;
  width: 90vw;
  height: auto;
}

footer #footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 2.5vw;
}

footer #footer p {
  font-size: 2.5vw;
}

footer #footer i{
  padding: 0.2vw;
  font-size: 3.5vw;
}

footer #footer a{
  color: white;
}

footer #footer a:hover {
  color: rgb(217, 24, 198);
}


/* Media Queries - Responsive Design */
@media (pointer: coarse) {
  main #summary li .title {
    display: none;
  }
  main #summary li .text{  
    display: flex;
    background-color: black;
    border-radius: 0.6vw;
    border: 0.4vw solid rgb(217, 24, 198);
    padding: 0.2vw;
    width: 40vw;
    height: 20vw;
  }
  main #summary li .text ul{  
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  main #summary li .text li{  
    display: flex;
    color: white;
    font-size: 2vw;
    justify-content: center;
  }
  main #examples li img{
    filter: brightness(50%);
  }
  main #examples li .text {
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: 0;
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 480px) and (pointer: coarse) {
  main #summary li .title {
    display: none;
  }
  main #summary ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3vw;
    overflow: hidden;
    background-color: transparent;
  
    width: 95vw;
  }
  main #summary li .text{  
    display: flex;
    background-color: black;
    border-radius: 0.6vw;
    border: 0.6vw solid rgb(217, 24, 198);
    padding: 0.2vw;
    width: 45vw;
    height: 25vw;
  }
  main #summary li .text ul{  
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  main #summary li .text li{  
    display: flex;
    color: white;
    font-size: 2.5vw;
    justify-content: center;
  }
  main #examples li img{
    filter: brightness(50%);
  }
  main #examples li .text {
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 1000px) {
  /*nav*/
  nav img {
    width: 5vw;
  }
  nav li {
    padding-left: 2vw;
  }
  nav li a {
    font-size: 1.5vw;
  }
/*header*/
  header img{
    width: 25vw;
    padding-top: 6vw;
  }
  header h1
  {
    font-size: 5.5vw;
  }
  header p {
    font-size: 1.2vw;
  }
  /* paws */
  main .paws{
    margin-top: -15vw;
  }
  main .paws div {
    padding-top: 3.5vw;
  }
  main .paw1 img
  {
    width: 6vw;
  }
  main .paw2 img
  {
    width: 5vw;
  }
  main .paw3 img
  {
    width: 6vw;
  }
  main .paw4 img
  {
    width: 5.5vw;
  }
  main .paw5 img
  {
    width: 6vw;
  }
/* info */
  main #info{
    margin-top: -2vw;
  }
  main #info h3{
    font-size: 2.2vw;
    margin-bottom: -2vw;
  }
  main #info p{
    font-size: 1.5vw;
  }
/* summary */
  main #summary {
    margin-top: 0;
  }
  main #summary ul {
    margin-top: 2vw;
  }
  main #summary li .title {
    font-size: 1.5vw;
    border: 0.2vw solid white;
    width: 35vw;
    height: 12vw;
  }
  main #summary li:hover .text{  
    border: 0.2vw solid rgb(217, 24, 198);
    width: 35vw;
    height: 12vw;
  }
  main #summary li:hover .text li{  
    font-size: 1.5vw;
  }
/* topic */
  main #topics ul{
    margin-top: 2vw;
  }
  main #topic li{
    border: 0.2vw solid white;
  }
  main #topics li h2{
    font-size: 2.5vw;
    padding-bottom: 1vw;
  }
  main #topics p {
    margin-top: 0vw;
    font-size: 1.5vw;
    text-align: justify;
    margin-bottom: 2vw;
  }
/* examples */
  main #examples{
    margin-bottom: 3vw;
  }
  main #examples li img{
    width: 15vw;
    height: 15vw;
    border: 0.2vw solid white;
  }
  main #examples li:hover .text {
    font-size: 2vw;
  }
/* CV */
  main #cv_info h3{
    font-size: 2.2vw;
    margin-bottom: 1vw;
  }
  main #cv_info ul {
    margin-top: 0;
    margin-bottom: 1.5vw;
  }
  main #cv_info li {
    font-size: 1.2vw;
  }
/* Footer */
  footer{
    margin-bottom: 1vw;
  }
  footer ul{
    margin-top: -1vw;
  }
  footer #footer{
    font-size: 1.5vw;
  }
  footer #footer p {
    font-size: 1.5vw;
  }
  footer #footer i{
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 480px) {
/*nav*/
nav{
  display: none;
}
/*header*/
header img{
  width: 45vw;
  margin-top: 5vw;
}
header h1
{
  font-size: 8.5vw;
}
header p {
  font-size: 2.2vw;
}
/* paws */
main .paws{
  margin-top: -2vw;
}
main .paws div {
  padding-top: 6.5vw;
}
main .paw1 img
{
  width: 10vw;
}
main .paw2 img
{
  width: 8vw;
}
main .paw3 img
{
  width: 10vw;
}
main .paw4 img
{
  display: none;
}
main .paw5 img
{
  display: none;
}
/* info */
main #info h3{
  font-size: 5.5vw;
  margin-top: -5vw;
}
main #info p{
  font-size: 3vw;
}
/* topic */
main #topics li h2{
  font-size: 5.5vw;
}
main #topics p {
  font-size: 3vw;
}
/* CV */
main #cv {
  margin-bottom: 5vw;
}
main #cv_info h3{
  font-size: 4.5vw;
}
main #cv_info li {
  font-size: 2.5vw;
}
/* Footer */
footer{
  position: fixed;
  top: 0;
  left: 2.5%;
}
footer #footer{
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 3.5vw;
}
footer #footer p {
  font-size: 3.5vw;
}
footer #footer i{
  font-size: 5.5vw;
  padding-left: 1.5vw;
}
footer li{
  border-radius: 1vw;
  border: 0.6vw solid white;
  width: 95vw;
}
}
/* End Media Queries - Responsive Design*/